@use '../../../styles/tokens' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $spacing-4;
}

.fullPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
