.root {
  margin: auto;
}

.card {
  min-width: 220px;
}

.cardHeader {
  padding: 8px 16px;
}

.list {
  width: 100%;
  min-width: 220px;
  height: 230px;
  overflow: auto;
}

.listContainer {
  flex: 1 1 38%;
  min-width: 220px;
}

.buttonGroup {
  gap: 4px;
}

.button {
  margin: 4px 0;
}
