.root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 0;
}

.icon {
  color: inherit;
  opacity: 0.6;
}

.errorText {
  margin-top: 0.25rem;
  margin-left: 0;
}
