@use '../../../styles/tokens' as *;

.root {
  display: flex;
  align-items: center;
  gap: $spacing-1;
  margin-bottom: $spacing-1;
  font-family: $font-family-base;
  font-size: $font-size-caption;
}
